<div class="bs-component">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">API SIRENE</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if(active == 'api'){ %>
                        <li><a href="/">Recherche rapide</a></li>
                        <li class="active"><a href="/use-api">Utiliser notre API</a></li>
                        <li><a href="/qui-sommes-nous"></i>Qui sommes nous ?</a></li>
                        <li><a href="https://github.com/Yieloo/sirene"><i class="fa fa-github fa-fw"></i> <span class="network-name">Le Projet sur GitHub</span></a></li>
                    <% } else if (active == 'recherche') { %>
                        <li class="active"><a href="/">Recherche rapide</a></li>
                        <li><a href="/use-api">Utiliser notre API</a></li>
                        <li><a href="/qui-sommes-nous"></i>Qui sommes nous ?</a></li>
                        <li><a href="https://github.com/Yieloo/sirene"><i class="fa fa-github fa-fw"></i> <span class="network-name">Le Projet sur GitHub</span></a></li>
                    <% } else if (active == 'qui-sommes-nous') { %>
                        <li><a href="/">Recherche rapide</a></li>
                        <li><a href="/use-api">Utiliser notre API</a></li>
                        <li class="active"><a href="/qui-sommes-nous"></i>Qui sommes nous ?</a></li>
                        <li><a href="https://github.com/Yieloo/sirene"><i class="fa fa-github fa-fw"></i> <span class="network-name">Le Projet sur GitHub</span></a></li>
                    <% } %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

