<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
<% include ./partials/nave %>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-10">
                <div class="intro-message">
                    <h1>Description de YIELOO et présentation d'Intra'Know</h1>
                    <hr class="intro-divider">

                </div>
            </div>
        </div>


    </div>
</div>
</div>

</div>
<!-- /.container -->

</div>

<% include ./partials/footer %>

</body>
</html>